name: Generate Snake Output

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          gif_out_path: output/github-contribution-grid-snake.gif
          svg_out_path: output/github-contribution-grid-snake.svg

      - name: Push to repository
        run: |
          git config --global user.name github-actions[bot]
          git config --global user.email github-actions[bot]@users.noreply.github.com
          git add output/
          git commit -m "Generate Contribution Snake" || exit 0
          git push
